body { position: relative; z-index: 0; opacity: 1; -moz-transition: opacity 0.3s; -webkit-transition: opacity 0.3s; -ms-transition: opacity 0.3s; -o-transition: opacity 0.3s; transition: opacity 0.3s; }

body._load { position: relative; z-index: -1; opacity: 0; }

.tc_2 { color: #f47320; }

.main_visual { height: 31.25rem; position: relative; background: #fed462; background: -moz-linear-gradient(180deg, #fed462 37%, #f5a34e 93%); background: -webkit-linear-gradient(180deg, #fed462 37%, #f5a34e 93%); background: linear-gradient(180deg, #fed462 37%, #f5a34e 93%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fed462",endColorstr="#f5a34e",GradientType=1); }

.main_visual::before { content: ''; display: block; position: absolute; width: 100%; height: 100%; left: 0; top: 0; background-image: url(../images/share/main/mv_bg.png); background-size: cover; background-position: center center; }

.main_visual .mv { position: relative; width: 100%; max-width: 93.75rem; height: 100%; margin-left: auto; margin-right: auto; padding-left: 3.125rem; padding-right: 3.125rem; }

.main_visual .mv .row { display: table; table-layout: fixed; height: 100%; width: 100%; }

.main_visual .mv .row [class^=col_], .main_visual .mv .row [class*=col_] { float: none; display: table-cell; height: 100%; vertical-align: middle; }

.main_visual .mv .wish_img { width: 20.625rem; }

.main_visual .btn { border: 1px solid #ffffff !important; width: 14.375rem; height: 3.75rem; }

.main_visual .btn > * { vertical-align: middle; }

.main_visual .btn i.icon_arrow_left_w { margin-left: 0.625rem; border-radius: 100%; background-color: #f47320; }

.main_visual .btn:hover { border-color: #f47320 !important; }

.mv_info .mv_info_item { text-align: center; }

.mv_info .mv_info_item p > strong { letter-spacing: 0.02em; vertical-align: middle; display: inline-block; }

.mv_info .mv_info_item p > span { vertical-align: middle; display: inline-block; }

.mv_info .mv_info_item img { max-width: 7.5rem; }

@media all and (max-width: 1024px) { .main_visual { height: 59.57631rem; text-align: center; }
  .main_visual::before { background-image: url(../images/share/main/mv_bg_m.png); background-position: top center; }
  .main_visual .mv { height: auto; text-align: center; position: absolute; width: 100%; top: 50%; left: 50%; -moz-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%); padding-left: 1.27846rem; padding-right: 1.27846rem; }
  .main_visual .mv .row { display: block; height: auto; width: 100%; }
  .main_visual .mv .row [class^=col_], .main_visual .mv .row [class*=col_] { display: block; height: auto; float: left; }
  .main_visual .btn { width: 22.37308rem; height: 5.75308rem; padding: 1.59808rem; }
  .main_visual .btn i.icon_next_wh { margin-left: 0.63923rem; width: 1.91769rem; height: 1.91769rem; }
  .mv_info .mv_info_item { text-align: center; }
  .mv_info .mv_info_item strong { letter-spacing: 0.02em; } }

.icon_txt { color: #fff; line-height: 1; }

.icon_hot { background-color: #0c3866; }

.icon_new { background-color: #f47320; }

.hot_content { padding: 5.5rem 0; position: relative; }

.hot_content * { box-sizing: border-box; }

.hot_con_wrap { position: relative; }

.hot_con_wrap h2 { text-align: center; margin-bottom: 3.25rem; }

.hot_con_wrap h2 img { width: 19.5rem; }

.hot_slider_con { overflow: hidden; }

.hot_slide .ht_con_main { width: 31.25%; max-width: 31.25rem; float: left; overflow: hidden; }

.hot_slide .hs { width: 68.75%; max-width: 68.75rem; float: left; overflow: hidden; }

.hot_slide .hs .hs_item { width: 33.33333%; float: left; }

.hot_slide .hs .hs_item:first-child { display: none; }

.hot_slide .hs .hs_item > a { margin-left: 1.25rem; }

.hot_slide .hs .slick-slide { -moz-transition: all 0.2s; -webkit-transition: all 0.2s; -ms-transition: all 0.2s; -o-transition: all 0.2s; transition: all 0.2s; }

.hot_slide .hs .slick-arrow { display: none !important; }

.hot_slide .ht_con { height: 16.25rem; margin-bottom: 1.25rem; display: block; overflow: hidden; position: relative; border-radius: 0.9375rem; background-color: #fff; outline: 0; border: 1px solid #dddddd; -moz-transition: 	box-shadow 0.3s; -webkit-transition: 	box-shadow 0.3s; -ms-transition: 	box-shadow 0.3s; -o-transition: 	box-shadow 0.3s; transition: 	box-shadow 0.3s; }

.hot_slide .ht_con:hover { box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); }

.hot_slide .ht_con .ht_img { overflow: hidden; width: 100%; height: 10.9375rem; position: relative; z-index: 5; left: 0; top: 0; background: #ddd; }

.hot_slide .ht_con .ht_img > img { position: absolute; top: 50%; left: 50%; width: 100%; -moz-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.hot_slide .ht_con .ht_img ._star { position: absolute; bottom: 0.375rem; left: 0.375rem; display: inline-block; }

.hot_slide .ht_con .ht_txt { padding: 0.8125rem 1.25rem; color: #333; }

.hot_slide .ht_con .ht_txt span { font-weight: bold; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical; word-wrap: break-word; white-space: nowrap; overflow: hidden; -webkit-line-clamp: 1; width: 100%; display: inline-block; }

.hot_slide .ht_con .ht_txt p { font-weight: 300; display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%; max-height: 1.5em; }

.hot_slide .ht_con.ht_con_main { height: 33.75rem; }

.hot_slide .ht_con.ht_con_main .ht_img { height: 21.875rem; }

.hot_slide .ht_con.ht_con_main .ht_img > img { width: 110%; }

.hot_slide .ht_con.ht_con_main .ht_img ._star { bottom: 0.75rem; left: 0.75rem; }

.hot_slide .ht_con.ht_con_main .ht_txt { padding: 1.875rem 2.625rem; }

.hot_slide .ht_con.ht_con_main .ht_txt .fs_20 { font-size: 1.375rem; }

.hot_slide .ht_con.ht_con_main .ht_txt .fs_16 { font-size: 1.125rem; }

.hot_slide .ht_con.ht_con_main .ht_txt span { margin-bottom: 0.625rem; }

.hot_slide .ht_con.ht_con_main .ht_txt p { max-height: 4.5em; white-space: normal; }

.hot_slide .ht_con.ht_con_main .icon_txt { padding: 0.66667em 1.22222em; }

.hot_slide .item_txt { position: absolute; left: 0; top: 0; overflow: hidden; z-index: 10; }

.hot_slide .item_txt .icon_txt { display: inline-block; float: left; }

.ht_con_sub .icon_txt { padding: 0.625em 0.875em; }

.hot_inner { display: inline-block; margin: 0 auto; }

.hs_control_btn { display: none; }

@media all and (max-width: 1700px) { .hot_content { max-width: 87.5rem; margin-left: auto; margin-right: auto; }
  .hot_slide .ht_con { height: 15rem; margin-bottom: 1.25rem; display: block; overflow: hidden; position: relative; border-radius: 0.9375rem; background-color: #fff; outline: 0; border: 1px solid #dddddd; -moz-transition: 	box-shadow 0.3s; -webkit-transition: 	box-shadow 0.3s; -ms-transition: 	box-shadow 0.3s; -o-transition: 	box-shadow 0.3s; transition: 	box-shadow 0.3s; }
  .hot_slide .ht_con:hover { box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); }
  .hot_slide .ht_con .ht_img { height: 9.6875rem; }
  .hot_slide .ht_con.ht_con_main { height: 31.25rem; }
  .hot_slide .ht_con.ht_con_main .ht_img { height: 19.375rem; }
  .hot_slide .ht_con.ht_con_main .ht_img > img { width: auto; height: 100%; }
  .ht_con_main .ht_txt { padding: 1.125rem 1.375rem; }
  .hot_slide .ht_con .ht_txt p br { display: none; } }

@media all and (max-width: 1024px) { .hot_content { max-width: 45.38538rem; }
  .hot_con_wrap h2 { text-align: center; margin-bottom: 3.324rem; }
  .hot_con_wrap h2 img { width: 19.944rem; }
  .hot_slider_con { overflow: visible; text-align: center; }
  .hot_slider_con::after { display: block; content: ""; clear: both; }
  .hot_slide { overflow: hidden; text-align: left; }
  .hot_slide .ht_con { height: 17.89846rem; margin-bottom: 1.27846rem; display: block; overflow: hidden; position: relative; background-color: #fff; outline: 0; border: 1px solid #dddddd; -moz-transition: 	box-shadow 0.3s; -webkit-transition: 	box-shadow 0.3s; -ms-transition: 	box-shadow 0.3s; -o-transition: 	box-shadow 0.3s; transition: 	box-shadow 0.3s; }
  .hot_slide .ht_con:hover { box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); }
  .hot_slide .ht_con .ht_img { height: 10.86692rem; }
  .hot_slide .ht_con.ht_con_main { width: 100%; max-width: none; height: 34.51846rem; }
  .hot_slide .ht_con.ht_con_main .ht_txt .fs_md_26 { font-size: 1.91769rem; }
  .hot_slide .ht_con.ht_con_main .ht_txt .fs_md_22 { font-size: 1.662rem; }
  .hot_slide .ht_con.ht_con_main .ht_txt p { height: 3em; }
  .hot_slide .ht_con.ht_con_main .ht_img { height: 22.37308rem; }
  .hot_slide .ht_con.ht_con_main .ht_img > img { width: 100%; height: auto; }
  .hot_slide .hs { width: 100%; max-width: none; }
  .hot_slide .hs .slick-list { overflow: visible; margin-right: -1.27846rem; margin-left: -1.27846rem; padding-right: 0.63923rem; padding-left: 0.63923rem; }
  .hot_slide .hs .hs_item { padding-right: 0.76708rem; padding-left: 0.63923rem; }
  .hot_slide .hs .hs_item a { margin-left: 0; }
  .hot_slide .hs .hs_item:first-child { display: block; }
  .hs_control_btn { display: inline-block; position: relative; }
  .hs_control_btn > * { display: inline-block; visibility: middle; }
  .hs_control_btn .hs_play_btn, .hs_control_btn .hs_stop_btn { margin-left: 0.95885rem; margin-right: 1.91769rem; }
  .hs_control_btn .hs_play_btn { display: none; margin-right: 1.53415rem; }
  .hs_control_btn .hs_arrow { position: absolute; top: 50%; -moz-transform: translate(0, -50%); -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); -o-transform: translate(0, -50%); transform: translate(0, -50%); }
  .hs_control_btn .hs_prve { left: 0; }
  .hs_control_btn .hs_next { right: 0; }
  .hs_dot { display: inline-block; vertical-align: middle; opacity: 0.8; overflow: hidden; margin-left: 1.91769rem; }
  .hs_dot ul li { display: block; float: left; }
  .hs_dot ul li:not(:first-child) { margin-left: 0.95885rem; }
  .hs_dot ul li a { display: block; text-indent: -999px; width: 1.27846rem; height: 1.27846rem; border-radius: 100%; background-color: #e5e5e5; }
  .hs_dot ul li.act a { background-color: #f47320; } }

.content_search { background: #f5f5f5; position: relative; height: 24.0625rem; overflow: hidden; }

.content_search .cs_img_box { position: relative; height: 100%; }

.content_search .cs_img_box img { position: absolute; top: 0; height: 100%; -moz-transition:  all 0.3s; -webkit-transition:  all 0.3s; -ms-transition:  all 0.3s; -o-transition:  all 0.3s; transition:  all 0.3s; }

.content_search .cs_img_box .cs_img_1 { left: 0; }

.content_search .cs_img_box .cs_img_2 { right: 0; }

.content_search img { display: block; }

.content_search .cs { position: absolute; width: 100%; top: 50%; left: 50%; -moz-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%); text-align: center; }

.content_search .cs_search_bar { width: 80%; max-width: 46.25rem; overflow: hidden; position: relative; margin-left: auto; margin-right: auto; }

.content_search .cs_search_bar .inp { display: block; width: 100%; height: 100%; border: 1px solid #ffffff; height: 3.375rem; border-radius: 3.125rem; background: #ffffff; font-weight: 200; padding: 0 5%; outline: 0; -moz-transition: background 0.2s, border 0.2s; -webkit-transition: background 0.2s, border 0.2s; -ms-transition: background 0.2s, border 0.2s; -o-transition: background 0.2s, border 0.2s; transition: background 0.2s, border 0.2s; }

.content_search .cs_search_bar .inp:hover, .content_search .cs_search_bar .inp:focus { border: 1px solid #cccccc; }

.content_search .cs_search_bar .btn_search { position: absolute; top: 0; right: 0; width: auto; max-width: none; height: 100%; border: 0; border-radius: 3.125rem; background: transparent; }

.content_search .cs_tag_box { max-width: 87.5rem; margin-left: auto; margin-right: auto; }

.content_search .cs_tag_box > * { display: inline-block; vertical-align: middle; margin-left: 1.25rem; position: relative; outline: 0; }

.content_search .cs_tag_box > *:not(.cs_tag_tit)::before { content: ''; position: absolute; left: 50%; bottom: -0.3125rem; width: 0; height: 1px; background: #222222; -moz-transition: all 0.2s; -webkit-transition: all 0.2s; -ms-transition: all 0.2s; -o-transition: all 0.2s; transition: all 0.2s; }

.content_search .cs_tag_box > *:not(.cs_tag_tit):hover::before, .content_search .cs_tag_box > *:not(.cs_tag_tit):focus::before { width: 100%; left: 0; }

.content_search .cs_tag_box .cs_tag_tit { padding: 0.9375rem 1.25rem; line-height: 1em; color: #fff; background: #444444; border-radius: 3.125rem; }

.content_search .cs_btn_box { max-width: 87.5rem; margin-left: auto; margin-right: auto; }

.content_search .cs_btn_box > a { display: inline-block; vertical-align: middle; margin-left: 1.25rem; padding: 0.9375rem 1.25rem; line-height: 1em; background: transparent; border-radius: 3.125rem; border: 1px solid #d1d1d4; -moz-transition: all 0.2s; -webkit-transition: all 0.2s; -ms-transition: all 0.2s; -o-transition: all 0.2s; transition: all 0.2s; }

.content_search .cs_btn_box > a:hover, .content_search .cs_btn_box > a:focus { box-shadow: 0.125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2); }

@media all and (max-width: 1440px) { .content_search .cs_img_box .cs_img_1 { left: -7.14286rem; }
  .content_search .cs_img_box .cs_img_2 { right: -7.14286rem; } }

@media all and (max-width: 1024px) { .content_search { height: 37.71462rem; }
  .content_search .cs_img_box .cs_img_1 { max-height: 24.61038rem; top: -3.19615rem; left: -14.06308rem; }
  .content_search .cs_img_box .cs_img_2 { top: auto; max-height: 24.61038rem; bottom: -1.27846rem; right: -12.78462rem; }
  .content_search .cs_tag_box > * { margin-left: 1.91769rem; }
  .content_search .cs_tag_box .cs_tag_tit { display: block; max-width: 10.86692rem; margin-left: auto; margin-right: auto; padding: 0.95885rem 1.662rem; }
  .content_search .cs_btn_box > a { display: inline-block; vertical-align: middle; margin-left: 1.25rem; padding: 0.9375rem 1.25rem; line-height: 1em; background: transparent; border-radius: 3.125rem; border: 1px solid #d1d1d4; -moz-transition: all 0.2s; -webkit-transition: all 0.2s; -ms-transition: all 0.2s; -o-transition: all 0.2s; transition: all 0.2s; }
  .content_search .cs_btn_box > a:hover, .content_search .cs_btn_box > a:focus { box-shadow: 0.125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2); } }

@media all and (max-width: 767px) { .content_search { background-image: url("../images/share/main/content_search_bg_m.jpg"); background-position: center center; background-size: cover; }
  .content_search .cs_img_box { position: relative; }
  .content_search .cs_img_box img { display: none; }
  .content_search .cs_search_bar { width: 100%; max-width: 43.15636rem; }
  .content_search .cs_search_bar .inp { height: 5.31636rem; padding: 0 5%; }
  .content_search .cs_search_bar .btn_search { height: 100%; border: 0; border-radius: 3.125rem; background: transparent; }
  .content_search .cs_tag_box > * { display: inline-block; vertical-align: middle; margin-left: 1.25rem; }
  .content_search .cs_tag_box .cs_tag_tit { padding: 0.9375rem 1.25rem; line-height: 1em; color: #fff; background: #444444; border-radius: 3.125rem; }
  .content_search .cs_btn_box > a { display: inline-block; vertical-align: middle; margin-left: 1.25rem; padding: 0.9375rem 1.25rem; line-height: 1em; background: transparent; border-radius: 3.125rem; border: 1px solid #d1d1d4; } }

.item_list_box { position: relative; }

.item_list_box .ilb_tit_box { line-height: 1; margin-bottom: 1.25rem; }

.item_list_box .ilb_tit_box .ilb_tit a { padding-left: 1.25rem; padding-right: 1.25rem; display: inline-block; color: #666666; font-weight: 400; border-left: 1px solid #cccccc; line-height: 0.8; }

.item_list_box .ilb_tit_box .ilb_tit a.on { color: #222222; font-weight: 600; }

.item_list_box .ilb_tit_box .ilb_tit a:first-child { padding-left: 0; border-left: 0; }

.item_list_box .btn_more { position: absolute; top: 0; width: 1.5rem; height: 1.5rem; right: 0; text-align: right; }

.item_list_box .st_album { border-top: 3px solid #000; }

.item_list_box .st_album a { max-width: 14.25rem; margin-left: auto; margin-right: auto; }

.item_list_box .st_album .ab_img { border: 1px solid #ccc; display: block; width: 100%; }

.item_list_box .st_album .row { margin-left: -0.78125rem; margin-right: -0.78125rem; }

.item_list_box .st_album .row > li { height: 27.5rem; padding-left: 0.78125rem; padding-right: 0.78125rem; }

.item_list_box .st_album .row > li a { display: block; }

.item_list_box .st_table { border-top: 3px solid #000; }

.item_list_box .st_table li { display: table; table-layout: fixed; width: 100%; border-bottom: 1px solid #ccc; height: 4.125rem; padding-bottom: 0.5%; padding-top: 0.5%; }

.item_list_box .st_table li:hover { background: #f5f5f5; }

.item_list_box .st_table li .tr { display: table-row; }

.item_list_box .st_table li .td { display: table-cell; vertical-align: middle; height: 99%; }

.item_list_box .st_table li .td.w_0 { width: 0%; }

.item_list_box .st_table li .td.w_5 { width: 5%; }

.item_list_box .st_table li .td.w_10 { width: 10%; }

.item_list_box .st_table li .td.w_15 { width: 15%; }

.item_list_box .st_table li .td.w_20 { width: 20%; }

.item_list_box .st_table li .td.w_25 { width: 25%; }

.item_list_box .st_table li .td.w_30 { width: 30%; }

.item_list_box .st_table li .td.w_35 { width: 35%; }

.item_list_box .st_table li .td.w_40 { width: 40%; }

.item_list_box .st_table li .td.w_45 { width: 45%; }

.item_list_box .st_table li .td.w_50 { width: 50%; }

.item_list_box .st_table li .td.w_55 { width: 55%; }

.item_list_box .st_table li .td.w_60 { width: 60%; }

.item_list_box .st_table li .td.w_65 { width: 65%; }

.item_list_box .st_table li .td.w_70 { width: 70%; }

.item_list_box .st_table li .td.w_75 { width: 75%; }

.item_list_box .st_table li .td.w_80 { width: 80%; }

.item_list_box .st_table li .td.w_85 { width: 85%; }

.item_list_box .st_table li .td.w_90 { width: 90%; }

.item_list_box .st_table li .td.w_95 { width: 95%; }

.item_list_box .st_table li .td.td_mk { width: 6.25rem; }

.item_list_box .st_table.st_2 li { height: 8.1875rem; }

.item_list_box .st_table.st_2 img { width: 100%; display: block; }

.item_list_box .st_table.st_2 .st_table_text_top { padding-left: 7.2%; }

.item_list_box .st_table.st_2 .st_table_text_top .mark { display: inline-block; vertical-align: middle; }

.item_list_box .st_table.st_2 .st_table_text_top > span { display: inline; vertical-align: middle; }

.item_list_box .st_table.st_2 .st_table_text_bottom { padding-left: 7.2%; }

.item_list_box .st_table.st_2 .st_table_text_bottom .inb { display: inline-block; padding-right: 0.625rem; position: relative; line-height: 1; }

.item_list_box .st_table.st_2 .st_table_text_bottom .inb:not(:first-child) { padding-left: 0.625rem; }

.item_list_box .st_table.st_2 .st_table_text_bottom .inb:not(:first-child)::after { content: ''; display: block; width: 1px; height: 90%; background: #cccccc; position: absolute; top: 5%; left: 0; }

@media all and (max-width: 1440px) { .item_list_box .st_album .row > li { height: auto; }
  .item_list_box .st_album .row > li a { display: block; max-width: 24.28571rem; }
  .item_list_box .st_album .row > li a p { white-space: normal; overflow: hidden; line-height: 1.5; max-height: 3em; text-align: left; text-overflow: ellipsis; display: -webkit-box !important; -webkit-line-clamp: 2; -webkit-box-orient: vertical; } }

@media all and (max-width: 1024px) { .item_list_box { max-width: 47.30308rem; margin-left: auto; margin-right: auto; }
  .item_list_box .st_table li { height: 5.11385rem; }
  .item_list_box .st_table li .td { height: 99%; }
  .item_list_box .st_table li .td.w_md_0 { width: 0%; }
  .item_list_box .st_table li .td.w_md_5 { width: 5%; }
  .item_list_box .st_table li .td.w_md_10 { width: 10%; }
  .item_list_box .st_table li .td.w_md_15 { width: 15%; }
  .item_list_box .st_table li .td.w_md_20 { width: 20%; }
  .item_list_box .st_table li .td.w_md_25 { width: 25%; }
  .item_list_box .st_table li .td.w_md_30 { width: 30%; }
  .item_list_box .st_table li .td.w_md_35 { width: 35%; }
  .item_list_box .st_table li .td.w_md_40 { width: 40%; }
  .item_list_box .st_table li .td.w_md_45 { width: 45%; }
  .item_list_box .st_table li .td.w_md_50 { width: 50%; }
  .item_list_box .st_table li .td.w_md_55 { width: 55%; }
  .item_list_box .st_table li .td.w_md_60 { width: 60%; }
  .item_list_box .st_table li .td.w_md_65 { width: 65%; }
  .item_list_box .st_table li .td.w_md_70 { width: 70%; }
  .item_list_box .st_table li .td.w_md_75 { width: 75%; }
  .item_list_box .st_table li .td.w_md_80 { width: 80%; }
  .item_list_box .st_table li .td.w_md_85 { width: 85%; }
  .item_list_box .st_table li .td.w_md_90 { width: 90%; }
  .item_list_box .st_table li .td.w_md_95 { width: 95%; }
  .item_list_box .st_table li .td.td_mk { width: 7.03154rem; }
  .item_list_box .st_table.st_2 li { height: 9.01315rem; }
  .item_list_box .st_table.st_2 .st_table_text_top { padding-left: 1.91769rem; }
  .item_list_box .st_table.st_2 .st_table_text_bottom { padding-left: 1.91769rem; }
  .item_list_box .st_table.st_2 .st_table_text_bottom .inb { padding-right: 0.625rem; }
  .item_list_box .st_table.st_2 .st_table_text_bottom .inb:not(:first-child) { padding-left: 0.625rem; } }

.mark { display: block; background: #000000; color: #ffffff; padding: 0.4375rem 0; height: 1.875rem; width: 5rem; line-height: 1; font-size: 1.125rem; border-radius: 0.3125rem; text-align: center; position: relative; }

.mark > span { width: 100%; text-align: center; position: absolute; width: 100%; top: 50%; left: 50%; -moz-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.mark.color_1 { background: #4187cf; }

.mark.color_2 { background: #f47320; }

.mark.color_3 { background: #c3c3c8; }

@media all and (max-width: 1024px) { .mark { font-size: 1.53415rem; height: 2.55692rem; width: 5.75308rem; padding: 0.44746rem 0; } }
