/*
*****************************************
*             ferm  : start
*****************************************
*/

$fm-style  : (
    border    : 1px solid,  //필수
    width     : rem(250),   //필수
    height    : rem(40),    //필수
    round     : em(40),     
);

$fm-style-color  : (
    border            : #dddddd,           //필수
    bg                : #ffffff,           //필수
    text              : $color-text-b,       //필수
    focus-bg          : #ffffff,
    disabled-bg       : #dddddd,
    placeholder-text  : #999999,
    placeholder-weight: 200,
);

$fm-warning-color : #ff1849;

%fm-box-st{
  display: inline-block;
  overflow: hidden;
  position: relative;
  top: 0; left: 0;
  vertical-align: middle;
  width: 100%;
  max-width: map-get($fm-style, "width");
  height: map-get($fm-style, "height");

  border: map-get($fm-style, "border") map-get($fm-style-color, "border");
  color: map-get($fm-style-color, "text");
  background-color: map-get($fm-style-color, "bg");
  &.fm_round{
    border-radius: map-get($fm-style, "round");
  }
}

%fm-st{
  position: absolute;
  top: 0; left:0;
  border:0;
  width: 100%;
  height: 100%;
  line-height: 100%;
  font-size: 1em;
  background: transparent;
  font-weight: inherit;
  //outline: 0; 
  padding: 0 em(20);
  letter-spacing: -0.025em;
  &:focus{
    @if has-key($fm-style-color, "focus-bg"){
      background-color:map-get($fm-style-color, "focus-bg");
    }
   
  }
  &[disabled]{
    @if has-key($fm-style-color, "disabled-bg"){
      background-color:map-get($fm-style-color, "disabled-bg");
      opacity: 0.5;
    }
  }
}


%dash{
  float: left;
  width: 5%;
  font-size: 1em;
  text-align: center;
  line-height: map-get($fm-style, "height");
}


[class^=fm_], [class*=fm_]{
  .inp_error{
    position: absolute;
    overflow: hidden;
    color: #fff;
    font-weight: inherit;
    right: 0;
    top: 100%;
    height: 0;
    opacity: 0;
    @include vendor(transition, ' all 0.3s ease-out');
    &.on{
      color: $fm-warning-color;
      height: 1em;
      opacity: 1;
      @include ps-center("middle");
    }
  }
  .inp_clear_btn{
    @include ps-center("middle");
    right: rem(10);
    top: 150%;
    text-indent: -999px;
    height: rem(18); width: rem(18);
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='10px' height='10px' viewBox='0 0 10 10' enable-background='new 0 0 10 10' xml:space='preserve'%3E%3Cline fill='%23FFFFFF' stroke='%23000000' stroke-miterlimit='10' x1='1.297' y1='1.188' x2='8.922' y2='8.813'/%3E%3Cline fill='%23FFFFFF' stroke='%23000000' stroke-miterlimit='10' x1='8.922' y1='1.188' x2='1.297' y2='8.813'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-size: cover;
    opacity: 0;
    @include vendor(transition, ' all 0.3s ease-out');
    &.on {
        top: 50%;
        opacity: 1;
    }
  }
}

.fm_inp{
    @extend %fm-box-st;
    .inp{
      @extend %fm-st;
      &::-ms-clear {
        display: none;
      }
      &::-webkit-input-placeholder { /* Edge */
        color: map-get($fm-style-color, "placeholder-text");
        font-weight: map-get($fm-style-color, "placeholder-weight");
      }
      
      &:-ms-input-placeholder { /* Internet Explorer */
        color: map-get($fm-style-color, "placeholder-text");
        font-weight: map-get($fm-style-color, "placeholder-weight");
      }
      
      &::placeholder {
        color: map-get($fm-style-color, "placeholder-text");
        font-weight: map-get($fm-style-color, "placeholder-weight");
      }
    }
    &.inp_full {
      display: block;
      max-width: none;
    }
    &.inp_wid_450 {
      display: block;
      max-width: rem(450);
      width: 50%;
    }
    &.inp_wid_400 {
      display: block;
      max-width: rem(400);
      width: 45%;
    }
    &.inp_wid_140 {
      display: block;
      max-width: rem(140);
      width: 45%;
    }
    &.dp_inb{
      display: inline-block !important;
    }
}

/*sel_box*/
.sel_box{
  @extend %fm-box-st;
  select{
    @extend %fm-st;
    padding-right: rem(45);
    &:focus{
      background:#ffffff;
    }
    &.placeholder{
      color: map-get($fm-style-color, "placeholder-text");
      font-weight: map-get($fm-style-color, "placeholder-weight");
    }
    option{
      color: $color-text-b;
    }
  }
  &:after{
    content: '';
    display: inline-block;
    width: rem(18); height: rem(18);
    z-index: 1;
    right: rem(10);
    //background-image 변경 시 추가
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' data-png-path='../images/common/sect_arrow_down.png' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 10 10' enable-background='new 0 0 10 10' xml:space='preserve'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' fill='%23565656' d='M8.125,3.638c-0.979,1.12-1.959,2.24-3.269,3.736 C3.548,5.878,2.569,4.758,1.589,3.638C3.768,3.638,5.946,3.638,8.125,3.638z'/%3E%3C/svg%3E");
    background-position: center center;
    background-size: cover;
    @include vendor(transition, ' all 0.3s ease-out');
    @include ps-center("middle");
  }
  
  label{
    position: absolute;
    opacity: 0;
    top: -999px;
    left:-999px;
    text-indent: -9999px;
  }
  &.sel_full{
    display: block;
    max-width: none;
  }
  &.sel_wid_450 {
    display: block;
    max-width: rem(450);
    width: 50%;
  }
}

/* radio, checkbox */
.fm_rd, .fm_ch {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  input[type=radio], input[type=checkbox] {
    position: absolute;
    top: 0 !important;
    left: 0 !important;
    line-height: 0 !important;
    font-size: 0 !important;
    width: 0 !important;
    height: 0 !important;
    color: transparent !important;
    overflow: hidden !important;
    opacity: 0;
  }
  > span{
    vertical-align: middle;
  }
  ._icon{
    position: relative;
    width: rem(30);
    height: rem(30);
    display: inline-block;
    vertical-align: middle;
    margin-right: rem(5);
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      display: inline-block;
      width: rem(30);
      height: rem(30);
      border:1px solid #ccc;
    }
  
    &::after {
      content: "";
      opacity: 1;
      @include vendor(transform,scale(0));
      @include vendor(transition, 'all 0.3s cubic-bezier(0.29, 0.54, 0, 1.4)');
      position: absolute;
      left: 0;
      top: 0;
      display: inline-block;
      width: rem(30);
      height: rem(30);
      box-sizing:border-box;
      background-image: url("data:image/svg+xml,%3Csvg version='1.1' data-png-path='../images/common/icon_radio.png' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='20px' height='20px' viewBox='0 0 10 10' enable-background='new 0 0 10 10' xml:space='preserve'%3E%3Cpolygon fill='%234187cf' points='1.174,4.625 2.373,3.425 4.547,5.6 7.881,2.266 8.975,3.359 4.6,7.734 '/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-size: 90%;
      background-position: center center;
      vertical-align: middle;
    }
  }


  // common > _color.scss
  @each $key, $color  in $colors {
    &.color_#{$key}{
      ._icon{
        &::after {
          background-image: url("data:image/svg+xml,%3Csvg version='1.1' data-png-path='../images/common/icon_radio.png' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='20px' height='20px' viewBox='0 0 10 10' enable-background='new 0 0 10 10' xml:space='preserve'%3E%3Cpolygon fill='%23#{str-replace( quote($color), "#", "")}' points='1.174,4.625 2.373,3.425 4.547,5.6 7.881,2.266 8.975,3.359 4.6,7.734 '/%3E%3C/svg%3E%0A");
        }
      }
    }
  }
  
  input[type=radio]:checked + ._icon::before,
  input[type=checkbox]:checked + ._icon::before {
    opacity: 0;
  }
  input[type=radio]:checked + ._icon::after,
  input[type=checkbox]:checked + ._icon::after {
    opacity: 1;
    @include vendor(transform,scale(1));
  }
}

.fm_rd{
  ._icon{
    &::before {
      background-color: #ffffff;
      border-radius: 100%;
    }
    &::after {
      border-radius: 100%;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' width='30' height='30'%3e%3ccircle cx='15' cy='15' r='15' fill='%23bbbbbb' /%3e%3c/svg%3e");
      background-color: #ffffff;
      background-position: center center;
      border: 1px solid #cccccc;
      background-size: rem(12) rem(12);
    }
  }
}

.fm_ch{
  ._icon{
    &::before {
      background-color: #ffffff;
    }
    &::after {
      //background-image 변경 시 추가
      background-color: #ffffff;
      border: 1px solid #cccccc;
    }
  }
}



/*file*/
.fm_btn{
  @extend %fm-box-st;
  display: inline-block;
  max-width: rem(260);
  border: 0;
  .inp{
    @extend %fm-st;
    max-width: rem(150);
    border: map-get($fm-style, "border") map-get($fm-style-color, "border");
  }
  .inp_file{
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    left: -999px;
    top: -999px;
  }
  .btn{
    position: absolute;
    right: 0; top: 0;
    width: rem(100); height: 100%;
    min-width: auto;
    line-height: map-get($fm-style, "height");
    padding: 0;
    font-size: 1em;
    background-color: #f6f6f6;
    border: map-get($fm-style, "border") map-get($fm-style-color, "border");
  }
  + span{
    vertical-align: middle;
 }
}



.fm_phon{
  max-width: rem(500);
  width:100%;
  display: inline-block;
  vertical-align: middle;
  @include clearfix("after");
  .sel_box{
    float: left;
    width: ((100% - 10)/ 3);
    select{
      text-align-last:center;
    }
  }

  .dash {
    @extend %dash;
  }
  .fm_inp{
    float: left;
    width: ((100% - 10)/ 3);
    .inp{
      text-align: center;
    }
  }
  + span{
    vertical-align: middle;
  }
}




.fm_mail{
  display: block;
  @include clearfix;
  max-width: 800px;
  .fm_inp{
    float: left;
    margin-bottom: 0px !important;
    max-width: none;
    width: 31%;
  }
  .dash {
    @extend %dash;
  }

  .sel_box + .fm_inp{
    width: 31%;
    max-width: none;
    margin-left: 2%;
  }
  .sel_box {
    float: left;
    width: 31%;
    max-width: none;
   }
}

.fm_tf{
  position: relative;
  height: 15em;
  width: 100%;
  display: block;

  border: map-get($fm-style, "border") map-get($fm-style-color, "border");
  color: map-get($fm-style-color, "text");
  background-color: map-get($fm-style-color, "bg");
  &.hafl{
    height: rem(90);
  }
  &.h_140{
    height: rem(140);
  }
  &.fm_round{
    border-radius: map-get($fm-style, "round");
  }
  &.fm_line_none{
    border: 0;
  }

  textarea{
    @extend %fm-st;
    height: 100%;
    padding: em(20);
    resize: none;
    font-size: 1em;
    line-height: 1.4;
    font-weight: inherit;
    font-family: 'Montserrat', 'Noto Sans Korean', sans-serif ;
    
  }
}






@include tab {
  $fm-md-style  : (
      height    : rem(70, $var-browser-md-context),    //필수
      font-size : rem(24, $var-browser-md-context),    //필수
  );

  %fm-box-md-st{
    max-width:  rem(300, $var-browser-md-context);
    height: map-get($fm-md-style, "height");
    font-size :map-get($fm-md-style, "font-size");
    
  }
  %fm-md-st{
    padding:0 rem(15, $var-browser-md-context);
  }
  .fm_inp{
      @extend %fm-box-md-st;
      &.inp_wid_450{
        width: 100%;
      }
      .inp{
        @extend %fm-md-st;
      }
  }

  .sel_box{
    @extend %fm-box-md-st;
    &.sel_md_short {
      max-width: rem(250, $var-browser-md-context);
    }
    select{
      padding-right: rem(36, $var-browser-md-context);
    }
    &:after{
      width: rem(26, $var-browser-md-context); height: rem(26, $var-browser-md-context);
      right: rem(10, $var-browser-md-context);
    }
    
  }


  /* radio, checkbox */
  .fm_rd, .fm_ch{
    font-size :map-get($fm-md-style, "font-size");
    ._icon{
      width: rem(30, $var-browser-md-context); height: rem(30, $var-browser-md-context);
      &::before {
        width:100%; height: 100%;
      }
    
      &::after {
        width:100%; height: 100%;
      }
    }
  }


  /*file*/
  .fm_btn{
    @extend %fm-box-md-st;
    max-width: none;
    overflow: hidden;
    .inp{
      position: static;
      width: 60%;
      max-width: rem(280, $var-browser-md-context);
      float: left;
      margin-right:rem(10, $var-browser-md-context);
    }
    .btn{
      position: static;
      width: 35%;
      max-width: rem(165, $var-browser-md-context);
      min-width:auto;
      float: left;
    }
  }


  %dash-md{
    line-height: map-get($fm-md-style, "height");
  }
  .fm_phon,.fm_date, .fm_mail{
    .dash {
      font-size :map-get($fm-md-style, "font-size");
      @extend %dash-md;
    }
  }
 

  .fm_tf{
    font-size :map-get($fm-md-style, "font-size");
    textarea{
      resize: none;
      font-size: 1em;
    }
    &.hafl {
      height: resRem(200, 'md');
    }
    &.h_140{
      height: resRem(200, 'md');
    }
  }

}

.form_wrap{
  .fm_ch ._icon::before,
  .fm_ch ._icon::after{
    border-radius: 0;
  }
}

.fm_ch_box, .fm_rd_box{
  margin-left:rem(-25);
  .fm_ch, .fm_rd{
    padding-left:rem(25);
    font-size : inherit;
    font-weight: 200;
    >._incon{
      @include ps-center('middle');
    }
  }
}

$fm-ch-rd-padding-left : 130;
dl.fm_ch_box, dl.fm_rd_box{
    margin-top: rem(7);
    padding-left: rem($fm-ch-rd-padding-left);
    margin-left: 0;
    dt{
      margin-left: rem(($fm-ch-rd-padding-left + 4)  * -1);
      width: rem($fm-ch-rd-padding-left);
      font-weight: 400;
    }
    > dt, > dd{
      display: inline-block;
      vertical-align: middle;
      margin-bottom: rem(7);
    }
    dd{
      padding-left:rem(25);
    }
}

ul.fm_ch_box, ul.fm_rd_box{
  margin-top: rem(7);
  margin-left: 0;
  &.pt_0{
    padding-top: 0 !important;
  }
  li{
    display: inline-block;
    vertical-align: middle;
    margin-bottom: rem(7);
    padding-left:rem(25);
    .fm_ch, .fm_rd{
      padding-left:0;
    }
    &:first-child{
      padding-left: 0;
    }
  }
}

.fm_file_btn{
  display: inline-block;
  position: relative;
  vertical-align: middle;
  padding-right: rem(110);
  &.st_2{
    width: rem(505);
    .inp{
      max-width: none;
    }
  }
  input[type=file]{
      position: absolute;
      display: none;
  }
  .btn{
    position: absolute;
    right: 0; top: 0;
    width: rem(100); height: 100%;
    min-width:auto;
    line-height: map-get($fm-style, "height");
    height: map-get($fm-style, "height");
    padding: 0;
    font-size: 1em;
    background-color: #f6f6f6;
    border: map-get($fm-style, "border") map-get($fm-style-color, "border");
  }
  .inp{
    height: map-get($fm-style, "height");
    display: block;
    width: 100%;
    max-width: rem(250);
    border: map-get($fm-style, "border") map-get($fm-style-color, "border");
    outline: 0;
    padding: 0 rem(25);
    line-height: 100%;
    cursor: pointer;
    font-size: inherit;
    &.on{
      display: block;
    }
  }
  .btn_icon{
    border: 1px solid #dddddd;
    width: rem(34);
    height: rem(34);
    border-radius: 100%;
    &:hover{
      background:#f1f1f1;
    }
    i{
     padding: 0 !important; 
     margin: 0 !important; 
    }
    i.icon_lisn_m{
      width: rem(14);
      height: 2px;
      background: #222222;
    }
  }
  &.fm_inp_show{
    .inp{
      display: inline-block;
      width: 100%;
      max-width: rem(250);
      height: rem(50);
      border: 1px solid #dddddd;
      font-size: inherit;
      padding: 0 rem(20);
      &.on{
        display: inline-block;
      }
    }
  }
  & + .fm_file_btn{
    margin-top: rem(10);
  }
  + span{
      vertical-align: middle;
  }
}

.fm_cal {
  &.full{
    width:100%;
  }
  min-width: rem(340);
  display: inline-block;
  vertical-align: middle;
  .fm_date {
    position: relative; 
    max-width: rem(340);
    

    .fm_date_btn { 
      background-color: #f6f6f6;
      border-left : map-get($fm-style, "border") map-get($fm-style-color, "border");
      right: 0; 
      width: rem(40);
      height: 100%;
      @include ps-center('middle');
      text-align: center;
    }
  }
  .sel_box{
    max-width: rem(100);
  }
}


@include tab {
  .fm_ch_box, .fm_rd_box{
    .fm_ch, .fm_rd{
      >._icon{
        width: rem(50, $var-browser-md-context);
        height: rem(50, $var-browser-md-context);
        
      }
    }
    .fm_rd{
      >._icon{
        &::after {
          background-size: rem(24, $var-browser-md-context) rem(24 , $var-browser-md-context);
        }
      }
    }
  }

  
  $fm-ch-rd-padding-left : 135;
  dl.fm_ch_box, dl.fm_rd_box{
      padding-left: rem($fm-ch-rd-padding-left, $var-browser-md-context);
      dt{
        margin-left: rem(($fm-ch-rd-padding-left + 4)  * -1 , $var-browser-md-context);
        width: rem($fm-ch-rd-padding-left , $var-browser-md-context);
      }
  }
  
  .fm_file_btn{
    width: 100%;
    padding-right: rem(180, $var-browser-md-context);
    .inp,.inp.st_2{
      width: 101% ;
      max-width: none;
      height: rem(70, $var-browser-md-context);
    }
    .btn{
      min-width:auto;
      width: rem(180, $var-browser-md-context);
      height: rem(70, $var-browser-md-context);
    }
    .btn_icon{
      width: rem(50, $var-browser-md-context);
      height: rem(50,  $var-browser-md-context);
      i.icon_lisn_m{
        width: rem(24,  $var-browser-md-context);
      }
    }
    &.fm_inp_show{
      position: relative;
      .inp{
        margin-top: rem(10 ,  $var-browser-md-context) !important; 
        margin-left: 0;
        width: 100%;
        max-width: none;
        height: rem(70, $var-browser-md-context);
      }
      .file_remove{
        position: absolute;
        left: rem(250, $var-browser-md-context);
        top: rem(10, $var-browser-md-context);
      }
      .file_add{
        position: absolute;
        left: rem(190, $var-browser-md-context);
        top: rem(10, $var-browser-md-context);
      }
    }
  }

  .fm_cal{
    .fm_date{
      max-width:rem(250, $var-browser-md-context);
    }
    .fm_time{
      max-width:rem(150, $var-browser-md-context);
    }
  }
  




  .fm_cal {
    .fm_date {
      max-width: none;
      margin-bottom: rem(10, $var-browser-md-context);
  
      .fm_date_btn { 
        right: 0; 
        width: rem(70, $var-browser-md-context);
      }
    }
    .sel_box{
      max-width: rem(150, $var-browser-md-context);
    }
  }
  
  .sel_box{
		select{
      text-align: left;
      padding-left: rem(20, $var-browser-md-context);
		}
  }
  


}


.fm_count{
  display: inline-block;
  width: 100%;
  max-width: rem(160);
  height: rem(40);
  vertical-align: middle;
  .fm_inp{
    float: left;
    max-width: rem(80);
    border-left:0;
    border-right:0;
    .inp{
      text-align: center;
      padding: 0;
    }
  }
  button{
    border: 1px solid #dddddd;
    background: #f7f7f7;
    float: left;
    height: 100%;
    width: rem(40);
    line-height: rem(36);
    i[class*=icon_], i[class^=icon_]{
      vertical-align: middle;
    }
  }
}

@include tab {
  .fm_count{
    height: resRem(70, 'md');
    button{
      line-height: resRem(67, 'md');
    }
  }
}

.file_box{
 display: inline-block;
 padding-right: rem(120);
 position: relative;
 margin-top:rem(10);
 margin-bottom:rem(10);
 .file_name{
   display: block;
   &:hover{
    color: map-get($colors, 1);
    text-decoration: underline;
   }
 }
 .btn{
   position: absolute;
   top:rem(-5);
   right: 0;
   min-width: auto;
   width: rem(110);
   border-radius: rem(90);
   height: rem(40);
   line-height: rem(38);
 }
}

@include tab{
  .file_box{
    padding-right: resRem(160, 'md');
    margin-top:resRem(15, 'md');
    margin-bottom:resRem(15, 'md');
    .file_name{
      display: block;
    }
    .btn{
      top:resRem(-10, 'md');
      width: resRem(140,'md');
      height: resRem(60,'md');
      line-height: resRem(58,'md');
    }
   }
}