$colors  : (
    1 :  #3f78d4,
    2 :  #e08c34,
    3 :  #9e61e4,
    4 :  #f05484,
    5 :  #1fb593,
);

$color-text-b    : #222222;
$color-text-sb   : #444444;
$color-text-sub  : #666666;
$color-text-w    : #ffffff;
$color-text-point: #d71616;


$color-border : #cccccc;
