// md  : font-size - 13px
// sm  : font-size - 11px
// xs  : font-size - 8px
// xxs : font-size - 7px

$var-browser-context : 16;
$var-sbrowser-context : 14;
$var-browser-lg-context : 14;
$var-browser-md-context : 13;
$var-browser-sm-context : 11;
$var-browser-xs-context : 8;
$var-browser-xxs-context : 7;